body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
 background-color: rgba(229, 84, 115, 0.10);  
} 

.banner-title{
color:#272727 ;
font-size: 40px;
margin-top: 100px;
margin-left: 15px;

}
.banner-paragraph{
    font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
    
       
}

.btn-common{
    background: #E55473;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 10px;

    
}

.banner{
    padding-top: 35px;
    padding-left: 240px;
    padding-right: 240px;
    display: flex;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
}


}
.banner .prime-picture{
    width: 500px ;
    height: 400px;
    flex-shrink: 0;
}

.enter{
    text-align: center;
    font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

padding: 100px;
}

.flower-container{
    display: flex;
    justify-content: space-around;
    
    
}
.flower-1{



    background-color:  rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    
    
}
.boquet{

    background-color:rgba(5, 151, 160, 0.15) ;
    border-radius: 300px 300px 0px 0px;
    width: 464px;
height: 538px;
flex-shrink: 0;
Style

    
}

.yellow{

    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}


.free{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    
}
.heading{
    text-align: center;
}




